<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--STORAGE-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--INTERNET ACCESS-->
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bliss">
        <activity android:name=".ChangePasswordActivity"/>
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ForgotPasswordActivity"/>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".JournalListActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://847458557797165:VoH55kkWxVHl7D4FjqPhP6AQHVo@ddzraiu5y"/>

        <activity android:name=".AddJournalActivity" />
        <activity android:name=".JournalDetailActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".FullScreenImageActivity" />
    </application>

</manifest>